.fadeDiv {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,1);
    z-index: 99999;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.messageDiv{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messageText{
    display: block;
}

.messageButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.noScroll{
    overflow: hidden;
    /* filter: blur(10px); */
}

.button{
    margin: 5px;
    padding: 5px;
    background: #4287f5;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
    transition: all .3s linear;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.carryOn{
    background: crimson;
}

.getMeOut{
    background: green;
}

.blocked{
    pointer-events: none;
}

.noCursor{
    cursor: no-drop;
}